/* Reset des marges et des paddings par défaut */
body, h1, h2, h3, p, ul, li, table, th, td {
    margin: 0;
    padding: 0;
}

/* Style général du corps de la page */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
    margin: 20px;
    padding-top: 7%;
}

/* Styles communs à votre header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    top: 0;
    box-shadow: 0 0 10px rgba(134, 134, 134, 0.8);
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    left: 0;
    z-index: 1000;
  }
    

    header h1 {
        font-size: 35px;
}

nav ul {
    list-style: none;
    
}
nav { 
 justify-content: space-around;
 display: flex;
}

nav ul li {
    display: inline;
    margin-right: 15px;

}

nav a {
    text-decoration: none;
    
    color: #fff;
    font-weight: bold;
}

nav a:hover {

    color: #999999;

}
.Titre1{
    text-align: center;
    
}
.imagehome{
    width: 25%;
}
#imagehome1 {

    float: left;
}

.navheader{
    align-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

/* Footer styles */
#footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.contact-info {
    margin-bottom: 15px;
}

    .contact-info h3 {
        color: #fff;
        font-size: 1.2em;
        margin-bottom: 10px;
    }

/* Liens dans le footer */
#footer a {
    color: #fff;
    text-decoration: none;
}

/* Section d'accueil */
#accueil {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Informations section styles */
#informations {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Informations section styles */
#sports {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* Informations section styles */

#Financement{
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.Financement-div{
    display: flex;
    justify-content: space-around;
    margin: 20px;

}
#Financement-texte{
    width: 40%;
    margin: 20px;
    text-align: center;
    margin: auto;
}
 
#Ensemble-Financement-photo{
    display: flex;
    align-items:center;
    margin: auto;
}

#Financement-photo{
    margin: 20px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.photo-historique:hover{
    transition: transform 0.5s ease-in-out;
    transform: scale(1.8);
}
/*TEST CARTES SPORTS */
.ensemblecartessport {
    max-width: 1500px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

        .sport-card {
            width: 400px;
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-decoration: none;
            color: inherit;
            /* TEST ANIMATION PASSAGE DE CURSEUR */
        }

            .sport-card:hover {
                background-color: #c2c1c1;
                transition: transform 0.3s ease-in-out;
                transform: scale(1.1);
        
            }

                .sport-image {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                .sport-info {
                    padding: 10px;
                }

/* FIN TEST CARTES SPORT */

/* Historique section styles */
#Historique {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .historique-div{
        display: flex;
        justify-content: space-around;
        margin: 20px;

    }

        .historique-texte{
            width: 40%;
            margin: 20px;
            text-align: center;
            margin: auto;
        }
            .historique-logo-texte{
                width: 5%;
            }

        .ensemble-photo-historique{
            display: flex;
            align-items:center;
            margin: auto;
        }

            .photo-historique{
                margin: 20px;
                width: 100%;
                height: 200px;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            }

            .photo-historique:hover{
                transition: transform 0.5s ease-in-out;
                transform: scale(1.8);
            }


/* Regles section styles */
#Regles {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    .regle-div{
        display: flex;
        justify-content: space-around;
        margin: 20px;
    }

        .regle-texte{
            width: 40%;
            margin: 20px;
            text-align: center;
            margin: auto;
        }

        .regle-video{
            display: flex;
            align-items:center;
            margin: auto;
        }

            #Regles iframe{
                width: 616px;
                height: 346.5px;
                border-radius: 5px;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
                margin-top: 20px;
                
            }

                #Regles iframe:hover{
                    transition: transform 0.7s ease-in-out;
                    transform: translate(75%, 20%) scale(2);
                }


/* entraineurs section styles */
#entraineurs {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    /* TEST DES FICHES ENTRAINEURS */
    .ensembledescartes {
        max-width: 1600px;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
        .person-card {
            width: 500px;
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 30px;
            
        }

            .person-card:hover{
                background-color: #f5f5f5;
                transition: transform 0.3s ease-in-out;
                transform: scale(1.1);
            }

                .person-image {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                .person-info {
                    padding: 20px;
                }


/* FIN TEST DES FICHES ENTRAINEURS */


/* categories section styles */
#categories {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* lieuentrainements section styles */
#lieuentrainements {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

    /* TEST DES FICHES LIEU */
    .ensembledescartes-lieu {
        max-width: 1600px;
        margin: 20px auto;
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
        .lieu-card {
            width: 500px;
            background-color: #fff;
            border-radius: 8px;
            overflow: hidden;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin: 30px;
            text-decoration: none;
            color: inherit;
          
            
        }
            .lieu-card:visited{
                color: inherit;
            }

            .lieu-card:hover{
                background-color: #f5f5f5;
                transition: transform 0.3s ease-in-out;
                transform: scale(1.1);
            }

                .lieu-image {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                }

                .lieu-info {
                    padding: 20px;
                    
                }


/* FIN TEST DES FICHES LIEU */


/* joursentrainements section styles */
#joursentrainements {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Informations section styles */
#calendrier {
    background-color: #f9f9f9;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
